<!DOCTYPE html>
<html>
<head>
  <title>Espertu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="sliderengine/amazingslider.js"></script>
  <script src="sliderengine/initslider-1.js"></script>
</head>
<body>
<%= render 'layouts/slides' %>
<%= yield %>
</body>
</html>
